---
---

$font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
@import "{{ site.theme }}";

.highlight {
    background-color: white;
}

.highlight .go {
    color: black;
}

body {
    font-family: $font-stack;
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: $font-stack;
    font-weight: 300;
}

h1 a, a.banner, a.large_banner {
    position: relative;
}

h1 a, a.banner, a.large_banner, a#forkme_banner {
    color: white;
    z-index: 10;
    &:hover, &:focus {
        text-decoration: none;
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 50%);
        background-size: 200%;
        background-position: 100% 0;
        transition: all 0.3s ease 0s;
        overflow: hidden;
        z-index: 5;
    }

    &:hover:before, &:active:before {
        background-position: 0 0;
    }

}


a:hover, a:focus {
    font-weight: inherit;
}

footer p {
    font-size: 14px;
}

$top: #244f63;
$bottom: #112933;
.large_banner_wrap, #header_wrap {
    background: $bottom; background: -moz-linear-gradient(top, $top,
    $bottom); background: -webkit-linear-gradient(top, $top, $bottom);
    background: -ms-linear-gradient(top, $top, $bottom); background:
    -o-linear-gradient(top, $top, $bottom); background: linear-gradient(top,
    $top, $bottom);
}

#footer_wrap {
    background-color: $bottom;
}

body {
    background-color: $bottom;
}

a.banner {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background: $bottom;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.center {
    display: block;
    text-align: center;
}

#main_content {
    padding-top: 15px;
}

#page_title {
    font-weight: 300;
}

#site_title {
    color: white;
    text-shadow: #111 0px 0px 10px;
}

#markdown-toc {
    position: absolute;
    width: 180px;
    height: auto;
    left: -230px;
    top: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 26px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

#markdown-toc ul, #markdown-toc li {
    list-style-type: bullet;
}

#markdown-toc li li {
    list-style-type: circle;
}
.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    color: rgba(15, 121, 208, 0.5);
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
    &:hover {
        text-decoration: none;
        color: rgb(15, 121, 208);
    }
    &:focus {
        text-decoration: none;
        font-weight: inherit;
    }
}

.back-to-top i {
    font-size: 20px;
}

.invisible {
    display: none;
}

.highlight {
    position: relative;
}

.btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 14px;
    background-color: rgba(200, 200, 200, 0.5);
    color: rgba(100, 100, 100, 0.5);
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: rgb(100, 100, 100);
    }
}

.large_banner_wrap {
    margin: 12px 0;
    text-align: center;
    display: block;
}

.large_banner {
    display: block;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 30px;
    font-weight: 300;
    &:hover, &:focus {
        font-weight: 300;
    }
}

#forkme_banner {
    box-shadow: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    &:hover, &:focus {
        text-decoration: none;
    }
}
