<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>

          <h1 id="project_title"><a href="/">{{ site.title }}</a></h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
        <div class="center">
          <a href="/guides" class="banner"><i class="fa fa-play"></i> Quick-Start Guide</a>
          <a href="/programming" class="banner"><i class="fa fa-book-open"></i> Programming Model</a>
          <!-- <a href="/guides" class="banner"><i class="fa fa-user"></i> User Guides </a> -->
          <a href="/support" class="banner"><i class="fa fa-question-circle"></i> Support</a>
          <!-- <a class="banner"><i class="fa fa-edit"></i> Contribute</a> -->
        </div>
      </section>
    </div>

    {%- include footer.html -%}
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
    </script>
    <script src="/assets/js/email.js"></script>
  </body>
</html>
